@charset "UTF-8";
/* Собрать все стили */
/* mixins.scss */
/* Шрифты навигации */
/* details-order-flex */
/* Шрифты деталей заказа */
/* Иконка статуса ожидания выписки */
/* Шрифты для колонки с информацией в билете */
/* Иконки услуг */
/* detail-tickets section */
/* font for tables */
/* grids.scss */
/* Сетка для main-header */
.main-header {
  display: flex;
  min-height: 48px;
  width: 100%;
  background-color: #ffffff;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center; }

/* Центровщик */
.container {
  width: 1141px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 23px; }
  .container__sidebar {
    width: 160px;
    min-height: 414px; }

/* details-order */
.details-order {
  width: 980px;
  min-height: 786px;
  background-color: #ffffff; }
  .details-order__header {
    border-bottom: solid 1px #dfdfdf; }
  .details-order__row1 {
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    margin-left: 26px;
    margin-top: 25px; }
  .details-order__row2 {
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    margin-left: 26px;
    margin-bottom: 21px; }
  .details-order__container {
    display: flex;
    flex-direction: row;
    width: 980px;
    min-height: 526px;
    border-bottom: solid 1px #dfdfdf; }
  .details-order__footer {
    width: 980px;
    min-height: 172px; }

.column-fligts {
  width: 699px;
  min-height: 525px;
  border-right: solid 2px #dfdfdf;
  display: flex;
  flex-direction: column; }
  .column-fligts__section-tickets {
    width: 684px;
    min-height: 340px;
    height: 340px;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 21px;
    border-left: solid 2px #fd9727; }
  .column-fligts__fluid {
    width: 699px;
    height: 371px;
    display: flex;
    flex-direction: column;
    border-bottom: solid 2px #dfdfdf; }
  .column-fligts__flight {
    width: 667px;
    height: 138px; }
    .column-fligts__flight--alone {
      margin-top: 8px;
      margin-left: 15px;
      border-left: solid 2px #8cc152; }
  .column-fligts__period {
    width: 568px;
    height: 42px;
    align-self: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: solid 1px #dfdfdf;
    border-bottom: solid 1px #dfdfdf;
    display: flex;
    flex-direction: row;
    position: relative; }

.column-information {
  width: 279px;
  min-height: 525px; }

/* deils-order__footer */
.details-order__footer {
  display: flex;
  flex-direction: column; }

.details-order__footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.footer__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; }

.footer__annotation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 25px;
  margin-top: 21px; }

.comment {
  width: 684px;
  min-height: 62px;
  border: solid 1px #faa61a;
  position: relative;
  align-self: flex-start;
  margin: 0;
  padding: 0; }
  .comment--for-tickets {
    width: 686px;
    min-height: 62px;
    margin-left: 15px;
    margin-top: 10px; }
  .comment--for-stock {
    width: 695px;
    min-height: 94px;
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 25px; }
  .comment__link {
    color: #7b9be0;
    text-decoration: underline; }
  .comment__text {
    font-family: Roboto-Regular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5d5f65;
    margin-left: 54px; }
    .comment__text--stock {
      font-family: Roboto-Regular;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #5d5f65; }
    .comment__text::before {
      content: "";
      position: absolute;
      top: 19px;
      left: 15px;
      width: 24px;
      height: 20px;
      background-image: url(../images/icn-warning.png); }

/* detail-tickets section */
.details-tickets {
  width: 981px;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-top: 20px; }

.passengers-navigation {
  width: 235px;
  height: auto;
  display: flex;
  flex-direction: column; }

.stock {
  width: 745px;
  height: auto;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff; }
  .stock__buttons {
    width: 745px;
    height: 36px;
    margin-top: 25px;
    display: flex;
    flex-direction: row; }

/* fonts.scss */
@font-face {
  font-family: Roboto-Black;
  src: url(../../fonts/Roboto-Black.ttf); }

@font-face {
  font-family: Roboto-Bold;
  src: url(../../fonts/Roboto-Bold.ttf); }

@font-face {
  font-family: Roboto-Light;
  src: url(../../fonts/Roboto-Light.ttf); }

@font-face {
  font-family: Roboto-Regular;
  src: url(../../fonts/Roboto-Regular.ttf); }

@font-face {
  font-family: Roboto-Medium;
  src: url(../../fonts/Roboto-Medium.ttf); }

/* main.scss */
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #e3e4e9;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center; }

/* main-header.scss */
.main-header__header {
  height: 19px;
  font-family: Roboto-Medium;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #7b9be0; }

.main-header__logo {
  width: 91px;
  height: 19px;
  margin: auto;
  font-family: Roboto-Medium;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.6px;
  text-transform: uppercase;
  color: #7b9be0; }

.btn--message {
  width: 48px;
  height: 48px;
  margin-left: auto;
  margin-right: 8px;
  background-color: #ffffff;
  background-image: url(../images/header-link-button.svg);
  cursor: pointer;
  border: none;
  outline: none; }

.btn--toggle {
  width: 62px;
  height: 48px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  outline: none; }
  .btn--toggle::before {
    content: "";
    position: absolute;
    left: 22px;
    width: 18px;
    height: 2px;
    background-color: #7b9be0; }
  .btn--toggle::after {
    content: "";
    position: absolute;
    left: 22px;
    width: 18px;
    height: 2px;
    background-color: #7b9be0;
    top: 20px; }
  .btn--toggle span::before {
    content: "";
    position: absolute;
    left: 22px;
    width: 18px;
    height: 2px;
    background-color: #7b9be0;
    top: 28px; }

/* site-navigation.scss */
.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none; }
  .site-navigation__item {
    width: 160px;
    height: 54px;
    border-radius: 2px 0px 0px 2px;
    background-color: #f5f5f7;
    margin-bottom: 1px;
    display: flex;
    cursor: pointer; }
    .site-navigation__item:last-of-type {
      height: 36px; }
      .site-navigation__item:last-of-type a {
        font-size: 12px; }
    .site-navigation__item a {
      margin: auto 0;
      margin-left: 18px;
      font-family: Roboto-Regular;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #5d5f65; }
    .site-navigation__item--active {
      margin-left: -1px;
      border-left: 2px solid #7b9be0;
      width: 159px;
      background-color: #ffffff; }
      .site-navigation__item--active a {
        color: #7b9be0; }

/* details-order.scss */
/* details-order */
.details-order {
  display: flex;
  flex-direction: column; }
  .details-order__header {
    width: 980px;
    min-height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .details-order__main-header {
    width: 198px;
    font-family: Roboto-Medium;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #202020; }
  .details-order__middle-header {
    width: 67px;
    margin-left: 15px;
    font-family: Roboto-Medium;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #202020; }
  .details-order__status {
    width: 105px;
    margin-left: 37px;
    position: relative;
    font-family: Roboto-Medium;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #909090; }
    .details-order__status::before {
      content: "";
      position: absolute;
      left: 0px;
      margin-left: -24px;
      width: 14px;
      height: 14px;
      background-image: url(../images/icn-order-waiting.png); }
  .details-order__date {
    margin-left: auto;
    margin-right: 25px;
    font-family: Roboto-Regular;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #000000; }
    .details-order__date--right {
      margin-left: auto;
      margin-right: 25px; }
    .details-order__date span {
      font-weight: normal;
      color: #4a4a4a; }
  .details-order__number {
    width: 67px;
    margin: 0;
    padding: 0;
    margin-left: 8px;
    font-family: Roboto-Regular;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000; }
    .details-order__number:first-of-type {
      margin-left: 0px; }
  .details-order__row1 {
    height: 16px;
    margin-top: 0px; }
  .details-order__row2 {
    height: 16px;
    margin-top: -8px; }

.period__time {
  display: inline-flex;
  flex-direction: row;
  align-items: baseline;
  margin: auto;
  margin-left: 32px;
  font-family: Roboto-Regular;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: normal;
  color: #921313; }
  .period__time::before {
    content: "";
    position: absolute;
    left: 0;
    margin-left: 2px;
    margin-top: -3px;
    width: 20px;
    height: 20px;
    background-image: url(../images/icn-red-watch.png); }

.tickets__last-column {
  width: 270px;
  display: inline-flex;
  flex-direction: row;
  align-items: baseline;
  margin: auto;
  font-family: Roboto-Regular;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: normal;
  color: #4b4c52; }

.column-fligts__flight {
  display: flex;
  flex-direction: row; }

/* Первая колонка билета */
.flight__company-column {
  display: flex;
  flex-direction: column;
  width: 90px;
  height: 138px; }
  .flight__company-column img {
    margin-top: 20px;
    margin-left: 12px; }
  .flight__company-column span {
    margin-top: 20px;
    margin-left: 13px;
    width: 56px;
    height: 14px;
    font-family: Roboto-Regular;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a; }
  .flight__company-column b {
    margin-top: 2px;
    margin-left: 21px;
    width: 40px;
    height: 14px;
    font-family: Roboto-Bold;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a; }

.flight__timetable-column {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 138px;
  margin-left: 19px; }

/* Первая колонка билета */
.timetable-column__city {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  white-space: nowrap;
  justify-content: space-between;
  margin-top: 2px; }
  .timetable-column__city b {
    height: 16px;
    font-family: Roboto-Bold;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #202020; }

.timetable-column__aero {
  display: inline-flex;
  flex-direction: row;
  white-space: nowrap;
  justify-content: space-between;
  margin-top: 1px; }
  .timetable-column__aero span {
    height: 16px;
    font-family: Roboto-Regular;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #4a4a4a; }

.timetable-column__terminal {
  margin-top: 2px; }
  .timetable-column__terminal span {
    height: 11px;
    font-family: Roboto-Light;
    font-size: 10px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5d5f65; }

.timetable-column__flight-time {
  display: inline-flex;
  flex-direction: row;
  white-space: nowrap;
  justify-content: space-between;
  margin-top: 28px; }
  .timetable-column__flight-time time {
    height: 16px;
    font-family: Roboto-Bold;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #202020; }

.timetable-column__flight-date {
  display: inline-flex;
  flex-direction: row;
  white-space: nowrap;
  justify-content: space-between;
  margin-top: 7px; }
  .timetable-column__flight-date span, .timetable-column__flight-date time {
    height: 14px;
    font-family: Roboto-Regular;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a; }

/* Третья колонка билета */
.flight__service-column {
  display: flex;
  flex-direction: column;
  width: 271px;
  height: 138px;
  margin-left: 20px; }

.flight__service-information {
  margin: 0;
  font-family: Roboto-Regular;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5d5f65;
  margin-top: 5px;
  position: relative; }
  .flight__service-information:last-of-type {
    display: inline-flex;
    flex-direction: row; }

.flight__information-item {
  color: #000000; }

.flight__code-tariff {
  font-family: Roboto-Medium;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #7b9be0;
  border-bottom: dotted 1px #7b9be0; }

.flight__wifi::before {
  content: "";
  position: absolute;
  left: 0;
  margin-left: 101px;
  margin-top: -3px;
  width: 20px;
  height: 20px;
  background-image: url(../images/wi-fi.png);
  background-repeat: no-repeat; }

.flight__charging::before {
  content: "";
  position: absolute;
  left: 0;
  margin-left: 157px;
  margin-top: -3px;
  width: 20px;
  height: 20px;
  background-image: url(../images/lie-seat.png);
  background-repeat: no-repeat; }

.flight__seat::before {
  content: "";
  position: absolute;
  left: 0;
  margin-left: 129px;
  margin-top: -3px;
  width: 20px;
  height: 20px;
  background-image: url(../images/icn-charge.png);
  background-repeat: no-repeat; }

.flight__youtube::before {
  content: "";
  position: absolute;
  left: 0;
  margin-left: 186px;
  margin-top: -3px;
  width: 20px;
  height: 20px;
  background-image: url(../images/icn-youtube.png);
  background-repeat: no-repeat; }

.flight__border-line::before {
  content: "";
  position: absolute;
  left: 0;
  margin-left: 109px;
  margin-top: 6px;
  width: 32px;
  border: dashed 1px #000000; }

.flight__border-line--yellow::before {
  border: dashed 1px #fd9727; }

.flight__border-line--green::before {
  border: dashed 1px #8cc152; }

.flight__border-line--longer::before {
  width: 124px; }

/* Колонка с информацией справа */
.buy-navigation {
  list-style-type: none;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end; }
  .buy-navigation__item {
    height: 16px;
    display: flex;
    position: relative;
    margin-right: 25px;
    cursor: pointer;
    margin-top: 12px; }
    .buy-navigation__item--plus::before, .buy-navigation__item--plus::after {
      content: "";
      position: absolute;
      top: 8px;
      left: -20px;
      width: 12px;
      height: 2px;
      background-color: #7b9be0;
      margin: 0 auto; }
    .buy-navigation__item--plus::after {
      transform: rotate(90deg); }
    .buy-navigation__item:first-of-type {
      margin-top: 10px; }
    .buy-navigation__item a {
      text-decoration: none;
      font-family: Roboto-Regular;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #7b9be0;
      border-bottom: solid 1px #7b9be0; }
    .buy-navigation__item:hover a {
      border-bottom: none; }

.annotation__price {
  font-family: Roboto-Medium;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #202020; }

.annotation__card {
  margin-top: 8px;
  font-family: Roboto-Regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #000000; }

.annotation__plan {
  margin-top: 4px;
  font-family: Roboto-Regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #7b9be0;
  border-bottom: solid 1px #7b9be0; }

.footer__buttons {
  margin-top: 20px;
  margin-right: 25px; }

.btn--bg {
  width: 157px;
  height: 36px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #7b9be0;
  margin-right: 11px;
  position: relative; }
  .btn--bg span {
    font-family: Roboto-Medium;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #7b9be0;
    margin-left: 30px; }

.btn--seat span::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 9px;
  width: 20px;
  height: 18px;
  background-image: url(../images/seat.png); }

.btn--bucks span::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 10px;
  width: 20px;
  height: 20px;
  background-image: url(../images/bucks.png); }

.btn--icn-cancelled span::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 10px;
  width: 22px;
  height: 22px;
  background-image: url(../images/cancelled.png); }

.btn--cancel {
  width: 108px;
  height: 36px;
  border-radius: 2px;
  border: solid 1px #b61e1b;
  background-color: #ffffff;
  position: relative; }
  .btn--cancel span {
    font-family: Roboto-Medium;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #b61e1b;
    margin-left: 30px; }

/* detail-tickets.scss */
.passenger__name {
  font-family: Roboto-Regular;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a; }

.passenger__status {
  font-family: Roboto-Regular;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a; }

.passengers-navigation {
  list-style-type: none;
  flex-direction: column;
  padding: 0;
  margin: 0; }
  .passengers-navigation__passenger {
    width: 235px;
    height: 60px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 2px;
    margin-bottom: 1px;
    background-color: #f5f5f7; }
    .passengers-navigation__passenger a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 25px;
      margin-right: 11px;
      margin-top: 7px; }
      .passengers-navigation__passenger a .passenger__status {
        margin-top: 3px; }
    .passengers-navigation__passenger--active {
      border-right: none;
      background-color: #ffffff; }
      .passengers-navigation__passenger--active a {
        margin-top: 15px; }
        .passengers-navigation__passenger--active a .passenger__name {
          height: 14px;
          font-family: Roboto-Medium;
          font-size: 12px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #7b9be0; }
        .passengers-navigation__passenger--active a .passenger__status {
          width: 58.2px;
          height: 14px;
          font-family: Roboto-Medium;
          font-size: 12px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #7b9be0; }

/* stock */
.btn--stock {
  background-color: #ffffff;
  border: solid 1px #7b9be0;
  margin-right: 10px; }
  .btn--stock:first-of-type {
    margin-left: 25px; }
  .btn--stock span {
    font-family: Roboto-Medium;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #7b9be0; }

.btn--ssr {
  width: 58px;
  height: 36px; }

.btn--osi {
  width: 50px;
  height: 36px; }

.btn--doco {
  width: 72px;
  height: 36px; }

.btn--doca {
  width: 72px;
  height: 36px; }

.btn--marg {
  width: 93px;
  height: 36px; }

.btn--email {
  width: 72px;
  height: 36px; }

/* passport-data table */
.table-wrapper__passport-data {
  width: 695px;
  margin-top: 23px;
  margin-left: 25px;
  min-height: 48px;
  background-color: #ffffff;
  border: solid 1px #e9e9e9;
  border-radius: 8px 8px 0px 0px;
  position: relative;
  /* Вторая таблица */
  /* 4-я */
  /* 5 */ }
  .table-wrapper__passport-data h3, .table-wrapper__passport-data label {
    display: inline-block; }
  .table-wrapper__passport-data h3 {
    margin-left: 49px;
    margin-top: 16px;
    font-family: Roboto-Medium;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a; }
    .table-wrapper__passport-data h3::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 12px;
      width: 24px;
      height: 24px;
      background-image: url(../images/docs.png); }
  .table-wrapper__passport-data label {
    position: relative;
    float: right;
    height: 16px;
    margin-right: 43px;
    margin-top: 16px;
    cursor: pointer; }
  .table-wrapper__passport-data--coupons h3::before {
    background-image: url(../images/coupons.png); }
  .table-wrapper__passport-data--coupons h3::before {
    background-image: url(../images/osi.png); }
  .table-wrapper__passport-data--visa h3::before {
    background-image: url(../images/doco.png); }
  .table-wrapper__passport-data--doca h3::before {
    background-image: url(../images/doca.png); }
  .table-wrapper__passport-data--card-passenger h3::before {
    background-image: url(../images/card-passenger.png); }
  .table-wrapper__passport-data--assets h3::before {
    background-image: url(../images/fe.png); }
  .table-wrapper__passport-data--files h3::before {
    background-image: url(../images/attach.png); }
  .table-wrapper__passport-data--rail h3::before {
    background-image: url(../images/rail.png); }

.passport-data {
  width: 695px;
  margin-bottom: 0px;
  border-collapse: collapse;
  overflow-y: auto; }
  .passport-data td, .passport-data th {
    border: solid 1px #dfdfdf; }
  .passport-data__header-cell {
    width: 172px;
    width: 30px;
    height: 35px;
    background-color: #f2f4f9;
    text-align: left;
    font-family: Roboto-Regular;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #202020; }
    .passport-data__header-cell--coupon-longer {
      white-space: nowrap; }
    .passport-data__header-cell span {
      margin-left: 10px; }
    .passport-data__header-cell--last {
      width: 35px; }
    .passport-data__header-cell--coupon-first {
      text-align: center; }
      .passport-data__header-cell--coupon-first span {
        margin-left: 0; }
    .passport-data__header-cell--osi-first {
      width: 25px;
      text-align: center; }
      .passport-data__header-cell--osi-first span {
        margin-left: 0; }
    .passport-data__header-cell--osi-second {
      width: 90px; }
    .passport-data__header-cell--visa {
      height: 51px;
      text-align: left;
      padding-left: 9px; }
      .passport-data__header-cell--visa span {
        margin-left: 0px; }
    .passport-data__header-cell--addres {
      width: 28%; }
  .passport-data__cell {
    width: 172px;
    height: 35px;
    background-color: #ffffff;
    font-family: Roboto-Regular;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #202020; }
    .passport-data__cell--coupon-longer {
      white-space: nowrap; }
    .passport-data__cell--files {
      height: auto; }
    .passport-data__cell span {
      margin-left: 10px; }
    .passport-data__cell--last {
      width: 35px; }
      .passport-data__cell--last::before {
        content: "";
        position: absolute;
        cursor: pointer;
        left: 665px;
        top: 96px;
        width: 13px;
        height: 14px;
        background-image: url(../images/icn-pencil.png); }
    .passport-data__cell--last-visa {
      width: 35px; }
      .passport-data__cell--last-visa::before {
        content: "";
        position: absolute;
        cursor: pointer;
        left: 665px;
        top: 120px;
        width: 14px;
        height: 2px;
        transform: rotate(45deg);
        background-color: #5d5f65; }
      .passport-data__cell--last-visa::after {
        content: "";
        position: absolute;
        cursor: pointer;
        left: 665px;
        top: 120px;
        width: 14px;
        height: 2px;
        transform: rotate(-45deg);
        background-color: #5d5f65; }
    .passport-data__cell--E {
      font-family: Roboto-Bold;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #c6ad00;
      text-align: center; }
      .passport-data__cell--E span {
        margin-left: 0; }
      .passport-data__cell--E:hover::after {
        content: "EXCHANGE";
        /* Выводим текст */
        font-family: Roboto-Regular;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #f2f4f9;
        position: absolute;
        /* Абсолютное позиционирование */
        z-index: 1;
        /* Отображаем подсказку поверх других элементов */
        font-family: Arial, sans-serif;
        /* Гарнитура шрифта */
        background-color: #666;
        padding: 4px 6px;
        margin-top: 24px;
        margin-left: -42px;
        border-radius: 5px;
        display: inline-block; }
      .passport-data__cell--E:hover::before {
        content: "";
        /* Выводим текст */
        font-family: Roboto-Regular;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #f2f4f9;
        position: absolute;
        /* Абсолютное позиционирование */
        z-index: 1;
        /* Отображаем подсказку поверх других элементов */
        border: 8px solid transparent;
        border-top: 10px solid #666;
        margin-top: 10px;
        margin-left: -4px;
        display: inline-block;
        transform: rotate(180deg); }
    .passport-data__cell--V {
      font-family: Roboto-Bold;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #bf3835;
      text-align: center; }
      .passport-data__cell--V:hover::after {
        content: "VOID";
        /* Выводим текст */
        font-family: Roboto-Regular;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #f2f4f9;
        position: absolute;
        /* Абсолютное позиционирование */
        z-index: 1;
        /* Отображаем подсказку поверх других элементов */
        font-family: Arial, sans-serif;
        /* Гарнитура шрифта */
        background-color: #666;
        padding: 4px 6px;
        margin-top: 24px;
        margin-left: -24px;
        border-radius: 5px;
        display: inline-block; }
      .passport-data__cell--V:hover::before {
        content: "";
        /* Выводим текст */
        font-family: Roboto-Regular;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #f2f4f9;
        position: absolute;
        /* Абсолютное позиционирование */
        z-index: 1;
        /* Отображаем подсказку поверх других элементов */
        border: 8px solid transparent;
        border-top: 10px solid #666;
        margin-top: 10px;
        margin-left: -3px;
        display: inline-block;
        transform: rotate(180deg); }
      .passport-data__cell--V span {
        margin-left: 0; }
    .passport-data__cell--coupon-first {
      text-align: center; }
      .passport-data__cell--coupon-first span {
        margin-left: 0; }
    .passport-data__cell--osi-first {
      width: 25px;
      text-align: center; }
      .passport-data__cell--osi-first span {
        margin-left: 0; }
    .passport-data__cell--osi-second {
      width: 90px; }
    .passport-data__cell--visa-longer {
      white-space: nowrap; }
    .passport-data__cell--addres {
      width: 28%; }
    .passport-data__cell--rail {
      white-space: nowrap; }
    .passport-data__cell--files {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      padding-bottom: 15px;
      padding-left: 15px;
      width: 679px; }

/* table open */
input[type="checkbox"] {
  display: none; }

.hide + label + table {
  display: table;
  background: #efefef; }

.hide + label {
  /* Лейбл после чекбокса */
  font-family: Roboto-Regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #7b9be0; }
  .hide + label::before {
    content: "";
    position: absolute;
    top: auto;
    cursor: pointer;
    left: 54px;
    top: -4px;
    width: 24px;
    height: 24px;
    background-image: url(../images/arrow-down.png);
    transform: rotate(180deg); }

/* вид текста label при активном переключателе */
.hide:checked + label {
  /* Лейбл при нажатом чекбоксе */
  font-family: Roboto-Regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #7b9be0; }
  .hide:checked + label::before {
    content: "";
    position: absolute;
    top: auto;
    left: 54px;
    top: -4px;
    width: 24px;
    height: 24px;
    background-image: url(../images/arrow-down.png);
    transform: rotate(0deg); }

/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + table {
  display: none;
  background: #efefef; }

/* table open */
.btn--file {
  width: 149px;
  height: 45px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px rgba(142, 142, 147, 0.3);
  padding: 0;
  margin-top: 13px;
  margin-right: 19px;
  position: relative;
  outline: none; }
  .btn--file:hover {
    background-color: rgba(123, 155, 224, 0.06); }
  .btn--file span {
    opacity: 0.5;
    font-family: Roboto-Regular;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #2e2e2e;
    position: absolute;
    display: block;
    text-align: left;
    width: 100px;
    height: 33px;
    margin-left: 46px;
    margin-top: 2px; }
    .btn--file span::before {
      content: "";
      position: absolute;
      top: -15px;
      right: -9px;
      width: 16px;
      height: 16px;
      background-color: #ffffff;
      border: solid 1px #7b9be0;
      border-radius: 50%;
      outline: none;
      cursor: pointer; }
    .btn--file span::after {
      content: "";
      position: absolute;
      top: -10px;
      right: -4px;
      width: 8px;
      height: 8px;
      background-image: url(../images/round-x.png);
      background-repeat: no-repeat;
      z-index: 2;
      outline: none;
      cursor: pointer; }

.filetype--gif::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 30px;
  top: -15px;
  left: -94px;
  background-image: url(../images/gif.png); }

.filetype--jpeg::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 30px;
  margin-top: -4px;
  margin-left: -3px;
  background-image: url(../images/jpeg.png); }

.filetype--jpg::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 30px;
  top: -16px;
  left: -91px;
  background-image: url(../images/jpg.png); }

.filetype--jpeg::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 30px;
  top: -11px;
  left: -91px;
  background-image: url(../images/jpeg.png); }

.filetype--png::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 30px;
  top: -16px;
  left: -91px;
  background-image: url(../images/png.png); }

.filetype--pdf::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 30px;
  top: -16px;
  left: -94px;
  background-image: url(../images/pdf.png); }

.filetype--tiff::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 30px;
  top: -16px;
  left: -94px;
  background-image: url(../images/tiff.png); }

table tr:last-of-type td {
  border-bottom: 0px; }

table tr td:first-of-type, table tr th:first-of-type {
  border-left: 0px; }

table tr td:last-of-type, table tr th:last-of-type {
  border-right: 0px; }
