/* main-header.scss */

.main-header {
  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
  }
  &__header {
    height: 19px;
    @include fontsHeader();
    letter-spacing: normal;
    text-transform: uppercase;
    color: #7b9be0;
  }
  &__logo {
    width: 91px;
    height: 19px;
    @include fontsHeader();
    letter-spacing: -1.6px;
    text-transform: uppercase;
    color: #7b9be0;
    align-self:center;
  }
}

.btn {
  &--message {
    width: 48px;
    height: 48px;
    margin-right: 8px;
    background-color: $white-background-color;
    background-image: url(../images/header-link-button.svg);
    cursor: pointer;
    border: none;
    outline: none;
    align-self: flex-end;
  }
  &--toggle {
    width:62px;
    height:48px;
    background-color: $white-background-color;
    cursor: pointer;
    border: none;
    outline: none;
    @include listOfToggleElements();
  }
}
